.caroussel {
  text-align: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: 43px auto;
  
  .arrowLeft {
    position: fixed;
    font-size: 25px;
    bottom: 50%;
    height: 10%;
    left: 0;
    padding-left: 5%;
    cursor: pointer;
}

.slider {
  width: 95%;
  border-radius: 50px;
  max-width: 1240px;
  max-height: 425px;
  object-fit: cover;
}

.arrowRight {
  position: fixed;
  font-size: 25px;
  bottom: 50%;
  height: 10%;
  right: 0;
  padding-right: 5%;
  cursor: pointer;
}
.imageCounter{
  right: 50%;
  font-weight: 600;
  position: absolute;
  bottom: 5%;
  color: white;
}
}

