.error-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #ff6060;
    background-color: #f4f4f4;


    h1 {
        font-size: 140px;
        font-weight: bolder;
    }

    h4 {
        font-size: larger;
        font-weight: 200;
    }

    p {
        color: black;

    }
}