.location {
    max-width: 1204px;
    object-fit: cover;

}


.container_up {
    max-width: 1204px;
    display: flex;

    justify-content: space-between;
    flex-direction: row;

    @media screen and (max-width: 650px) {
        flex-direction: column;

    }
}

.right-down {
    display: flex;
    gap: 20px;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-end;

    @media screen and (max-width: 650px) {
        flex-direction: row-reverse;
        justify-content: space-between;
        gap : 0;

    }

    .detail_host {
        display: flex;
        flex-direction: row-reverse;
        color: #ff6060;
        text-align: right;

        .detail_host_img {
            border-radius: 50%;
            width: 64px;
            height: 64px;
        }

        p {
            padding-top: 10px;
            padding-right: 15px;
            line-height: 142.6%;
        }




    }
}

.rating {
    display: inline;
    flex-direction: row;
    height: 64px;
    text-align: end;
}

.left-up {

    .detail_titre {
        color: #ff6060;


        h1 {
            max-width: 700px;
            font-size: 36px;
            font-weight: 500;
            margin: 10px 0 5px;
        }

        p {
            color: black;
        }

    }

    .tags {
        color: white;
        gap: 10px;

        display: flex;
        flex-direction: row;

        @media screen and (max-width: 650px) {
            flex-wrap: wrap;

        }

        .tag {
            margin: 1%;
            padding: 1%;
            justify-content: center;
            align-items: center;
            background: #ff6060;
            color: #fff;
            border-radius: 10px;
            font-size: 14px;
            font-weight: 700;

            @media screen and (max-width: 650px) {
                justify-content: center;
                align-items: center;
                width: fit-content;
                height: fit-content;
                gap: 0;
margin: 0;
            }
        }

    }
}


.collapse_container {
  
    display: flex;
    justify-content: space-between;
       max-height: fit-content;
     .collapse{
        display: flex;
       
        gap: 20px;
        width: 100%;
        max-width: 45%;
        padding:0 ;
        
        background: #f5f5f5;
        border-radius: 10px;
        box-sizing: border-box;
        margin: 20px 0;
        @media screen and (max-width: 650px) {
            width: 100%;
            padding: 10px;
            gap: 10px;
        }
       
        .collapse_title {
            top: 0%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            h2 {
                font-size: 24px;
                font-weight: 500;
                color: #ff6060;
            }
            .collapse_icon {
                cursor: pointer;
                width: 24px;
                height: 24px;
            }
        }
        .collapse_content {
            display: flex;
            flex-direction: column;
            gap: 10px;
            p {
                color: black;
                font-size: 16px;
                line-height: 142.6%;
            }
        }
      
     }
      

    @media screen and (max-width: 768px) {
        flex-direction: column;
        width: 95%;
    }

}