.collapse {
    background-color: #F6F6F673;
    display: flex;

    flex-wrap: wrap;
    align-items: center;
    max-width: fit-content;

    @media screen and (max-width: 568px) {

        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .collapse_titre {
        width: 100%;
        background-color: #FF6060;
        color: white;
        border-radius: 10px;
        padding: 10px 15px;
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .collapse_bascule {
        display: flex;
        flex-direction: column;
        gap: 5px;
        visibility: visible;
        opacity: 1;
        padding: 10px;
        font-size: clamp(12px, 1.8vw, 18px);
        color: black;
    }

    .collapse_nonbascule {
        visibility: hidden;
        opacity: 0;
        height: 0;
    }

    /* Ajoutez une transition de rotation pour la flèche */
    .fleche {
        transition: transform 1s ease;

        &.fleche_nonbascule {
            transform: rotate(360deg);
        }
    }

    .text {
        font-weight: 100;

    }
}