header {
  display: flex;
  margin: 0 auto;
  max-width: 1240px;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 15px;
  padding-bottom: 20px;

  img {
    @media screen and (max-width: 768px) {
      width: 145px;
      height: 46.88px;
    }
  }

  .navigation {
    ul {
      display: flex;
      justify-content: space-between;
  width:fit-content;
      align-items: center;
      padding: 0;


      a {
        text-decoration: none;
        list-style: none;
        color: black;
  
        font-style: normal;
        margin-left: 50px;
        font-size: 20px;
        text-transform: uppercase;
        margin-left: 20px;
        @media screen and (max-width: 768px) {
         font-size: 10px;
        }
      }

      .souligne {
        border-bottom: 2px solid black;
      }
    }
  }}