.banner {
    margin: auto;
    max-width: 1240px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 95%;
    margin-bottom: 30px;



    .bannerImage,
    .bannerAproposImage {
        max-height: 150px;
        width: 100%;
        border-radius: 25px;
        object-fit: cover;
        width: 100%;
        height: 100%;

    }

    h1 {
        color: white;
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 48px;
        font-weight: 300;

    }

    .bannerImageContainer {
        height: 150px;
        width: 100%;
        border-radius: 25px;

    }

    .siblingOpacity {
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 25px;
    }
}